.rating-grey {
  background-image: url('../icons/rating-note-grey.svg');
  background-position: 0;
  background-size: 25px;
  display: inline-block;
  height: 25px;
  width: 25px;
}

.rating-red {
  background-image: url('../icons/rating-note-red.svg');
  background-position: 0;
  background-size: 25px;
  display: inline-block;
  height: 25px;
  width: 25px;
}